body {
  /* background-color: crimson; */
  background-image: url("/group\ study.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: cover;
  background-position: right; */
}
