/* Create two articles and give them distinct margins (on any side you want) */
* {
  margin: 0;
  padding: 0;
}

/* Sports Article */
.sports {
  margin: 20px;
}

h2,
p,
img {
  margin-top: 10px;
}

/* Art Article */
.art {
  margin: 20px;
}

h2,
p,
img {
  margin-top: 25px;
}
