table {
  border-collapse: collapse;
  width: 400px;
}

/* table,
th,
td {
  border-bottom: 0.8px solid #ccc;
} */

th,
td {
  text-align: left;
  padding: 10px;
  vertical-align: center;
  color: #fff;
}

tr:nth-child(odd) {
  background-color: #333;
}

tr:nth-child(even) {
  background-color: #999;
}

/* tr:hover {
  background-color: #aaa;
  color: #fff;
} */
