/* RGB = Red Green Blue (0-255) */
/* h1 {
  color: rgb(255, 255, 255);
} */

/* HSL = Hue (0-360) Saturation (%) Lighness (%)*/

/* h1 {
  color: hsl(147, 51%, 45%);
} */

/* Hex values = 00-ff FF=red, FF=green FF=blue*/

h1 {
  color: #0000ffc5;
}
